/* --- GENERIC --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #222222;
    font-family: 'Lato', sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-weight: 800;
}

.color-grey {
    color: gray;
}

/* --- UTILITIES --- */

.m-10{margin: 10px;}
.m-bott-10{margin-bottom: 10px;}
.m-bott-20{margin-bottom: 20px;}
.m-right-20{margin-right: 20px;}
.pad-right10{padding-right: 10px;}


/* --- NAV --- */

nav {
    background: #000000;
    height: calc(100% - 90px);
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.logo-spotify {
    width: 80%;
}

.logo-small {
   display: none;
}

.top-nav {
    height: 80%;
    overflow: hidden;
    font-weight: 800;
    padding: 15px;
}

.bottom-nav {
    width: 100%;
    padding: 10px;
    font-weight: 800;
    color: grey;
}

.text-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
}

.install-app {
    display: flex;
    margin-bottom: 10px;
}

.install-app h5 {
    margin-left: 10px;
}

.user-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-box h4 {
    color: white;
    margin-left: 10px;
    font-weight: 900;
}

.user-image {
    background-color: grey;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.john-image{
    width: 100%;
    object-fit: cover;
}


.logo-spotify {
    margin-bottom: 20px;
}

.logo-nav {
    width: 1.5em;
    margin-right: 5px;
}

.square {
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 900;
    color: gray;
}

.square i {
    font-size: 30px;
    margin-right: 8px;
}

li {
    list-style-type: none;
    color: gray;
    font-size: 12px;
}

ul h5 {
    margin: 20px 0 10px 0;
    font-weight: 900;
}

/* --- MAIN --- */


main {
    height: calc(100% - 90px);
    width: calc(100% - 200px);
    background: #141922;
    overflow-y: auto;
}

.top-bar {
    min-height: 90px;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.button-white {
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 900;
    font-size: 11px;
    margin-right: 20px;
}

.genre {
    text-align: center;
    margin: 0 auto;
}

.genre-item {
    color: grey;
    padding: 20px 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

.container {
    padding: 30px;
}

.content-card{
    width: calc(100% / 6);
    text-align: center;
    margin: 30px 0;
}

.content-card h3 {
    font-size: 14px;
    font-weight: 900;
    padding-top: 15px;
}

.content-card p {
    color: grey;
    font-weight: 800;
    font-size: 11px;
    padding-top: 10px;
}

.box-card {
    display: flex;
    flex-wrap: wrap;
}

.box-card img {
    width: 100%;
    padding-right: 1em;
    
}

.circle {
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
}

.circle img{
    width:100%;
    object-fit: cover;
    padding: 0;
}

/* --- FOOTER --- */


footer {
    width: 100%;
    height: 90px;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-left img {
    width: 50px;
    margin-left: 10px;
}

.text-footer {
    margin: 10px;
    font-size: 14px;
}

.footer-center {
    width: calc(100% / 3);
    height: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}

.play-button i {
    padding-right: 1.5rem;

}

.play-big {
    font-size: 2rem;
}

.minute-line {
    width: 80%;
    display: flex;
}

.grey-line {
    background-color: #5a5a5a;
    width: 100%;
    height: 6px;
    border-radius: 25px;
    align-self: center;
    margin: 0 16px;
}

.time-consumed {
    background-color: #c1c1c1;
    width: 30%;
    height: 6px;
    border-radius: 25px;
}

.footer-right {
    width: calc(100% / 3);
    height: 100%;
    margin-right: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.volume-line {
    background-color: #5a5a5a;
    width: 128px;
    height: 6px;
    border-radius: 25px;
    margin: 0 5px;
}

.consumed-white{
    background-color: #c1c1c1;
    width: 30%;
    height: 5px;
    border-radius: 25px;
}


/* --- MEDIA QUEIRES --- */


@media screen and (max-width: 992px){
    .content-card {
        width: calc(100% / 4);
    }    
}

@media screen and (max-width: 769px){
    .content-card {
        width: calc(100% / 2);
    }

    .genre-item {
        font-size: 10px;
    }
}

@media screen and (max-width: 625px){
    .volume-line {
        width: 100px;
    }
    
}

@media screen and (max-width: 576px){
    nav {
        width: 60px;
    }

    main {
        width: calc(100% - 60px);
    }

    .logo-spotify {
        display: none;
    }

    .logo-small {
        display: inline-block;
        margin-bottom: 10px;
        width: 40px;
    }

     .logo-nav {
        width: 3em;
        margin: 0;
    }

    .item-nav {
        display: none;
    }

    .top-nav {
        padding: 10px;
    }


    .text-nav{
        display: inline-block;
    }

     .user-box h4 {
        display: none;
    }

     .install-app h5 {
        display: none;
    }

     .playlist {
        display: none;
    }

     .favorites-icon {
        display: flex;
        flex-direction: column;
    }

     .button-white {
        font-size: 13px;
        font-size: 17px;
        border: 2px solid white;
        border-radius: 25px;
    }
}

@media screen and (max-width: 540px){
    .volume-line {
        width: 50px;
    }

    .favorites-icon {
        display: none;
    }
      
}
    
     



/* --- HOVER --- */
    
.button-white:hover{
    transform: scale(1.1);
}